<!DOCTYPE html>
<html>
  <head>
    <title>MidMod2211</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>

    <link href='https://fonts.googleapis.com/css?family=Comic Neue' rel='stylesheet'>

    <style>
      table, td, th {
        border: 1px solid;
      }

      th, td {
        padding: 10px;
      }

      table {
        width: 100%;
        border-collapse: collapse;
      }

      body {
      font-family: 'Comic Neue', 'Arial';     
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
